html, body {
    margin: 0;
    padding: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;    
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

section {
    padding: 100px;
}

h2 {
    margin-bottom: 80px;

    text-transform: uppercase;
    font-size: 40px;
}

.button {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

/* header */

.index-header {
    width: 100%;
    height: 700px;
    padding-top: 50px;

    background: url('../kvas_files/wheat-back.jpg') no-repeat 100% 100%;  
}

.main-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-navigation {  
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: stretch;

    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.site-navigation .site-navigation-item {
    margin-right: 100px;
}

.site-navigation a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
}

.tag {
    margin-top: 200px;

    text-align: center;
    line-height: 100px;
    font-weight: bold;
    font-size: 100px;
    color: white;
}

.slider {
    list-style-type: square;
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;

    color: white;
}

/* section 1 */

.section-title {
    text-transform: uppercase;
    font-size: 40px;
}

.product-card-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: stretch;
    flex-flow: row wrap;
}

.product-card {
    width: 540px;
    max-width: 540px;
    padding-left: 50px;
    margin-bottom: 40px;

    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}

/* .product-card {
    flex: 1 1 540px;
} */

.product-card:nth-child(2) {
    margin-left: -1px;
}

.product-properties-container {
    margin-left: 360px;
}

.product-img {
    margin-top: -180px;
    display: inline-block;
}

.product-consist {
    padding-top: 15px;

    border-top: 1px solid lightgrey;
}

.product-properties * {
    text-transform: uppercase;
    font-weight: bold;
}

td {
    width: 100px;
}

.product-title {
    text-transform: uppercase;
    font-size: 40px;
}

.product-ordering {
    margin-top: 80px;
}

.more-info-button {
    padding: 15px;

    color: #8B4513;
    border: 2px solid #834700;
}

.buy-button {
    padding: 17px;

    color: white;
    background-color: #834700; 
}

.product-price {
    margin-left: 20px;
}

/* section 2 */

.advantages {
    padding: 50px;

    background-color: #ffcb78;
}

.advantage-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.advantage-list p {
    color: #443f45
}

.advantage-item {
    padding-left: 100px;
    padding-right: 100px;

    flex: 1 1 150px;

    border-right: 1px solid #e5b66c;
}

.advantage-item.third {
    border-right: none;
}

.advantage-item.first:before {
    content: url('../kvas_files/icon-brew.png');
}

.advantage-item.second:before {
    content: url('../kvas_files/icon-matreshka.png');
}

.advantage-item.third:before {
    content: url('../kvas_files/icon-thumbsup.png');
}

.advantage-title {
    text-transform: uppercase;
    font-weight: bold;
}

/* section 3 */

.history dl {
    margin-top: 100px;
}

.history dt {
    text-transform: uppercase;
    font-weight: bold;
}

.history dt i {
    margin-left: 790px;

    text-transform: none;
    font-weight: normal;
}

.history dd {
    margin-left: 0;
    margin-top: 30px;
}

.history dd img {
    float: right;
}

.history dt a {
    color: #8B4513; 
}

/* section 4 */

.press {
    padding: 80px;

    background-color: #ede5d8;
}

.press blockquote {
    margin-left: 0;
}

.press blockquote:before {
    margin-left: -100px;

    content: url('../kvas_files/quotes.png');
}

.press p {
    margin-bottom: 40px;
    margin-top: -50px;
}

.read-more-button {
    padding: 15px;

    color: grey;
    border: 1px solid grey;
}

.press cite {
    margin-left: 720px;

    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
}

/* section 5 */

.range table {
    width: 100%;

    text-transform: uppercase;
    border-collapse: collapse;  
    font-weight: bold;
}

.range th {
    padding-bottom: 40px;

    font-size: 12px;
    color: gray;
    font-weight: normal;
    text-align: center;
}

.range tr {
    border-bottom: 1px solid lightgray;
}

.range td {
    padding-top: 10px;
    padding-bottom: 10px;

    font-weight: normal;
    text-align: center;
}

.range td:first-child {
    font-weight: bold;
}

.range td:first-child,
.range th:first-child {
    width: 500px;

    text-align: left;
}

.range td:last-child,
.range th:last-child {
    width: 250px;

    text-align: right;
}

.brand-new {
    padding: 2px 5px;
    margin-left: 20px;

    font-size: 10px;
    color: white;
    background-color: black;
    border-radius: 0.3em;
}

/* section 6 */


.order {
    background-color: #ffcb78;
}

.order-form {
    margin-top: 70px;

    font-weight: bold;
    text-transform: uppercase;
}

.order-form input,
.order-form textarea {
    width: 950px;
    height: 40px;
    padding-left: 20px;

    background-color: #e6b66c;
    border: none;
}

.order-form select {
    position: relative;
    width: 972px;
    height: 40px;
    padding-left: 20px;

    appearance: none;
    border: none;
    background: #e6b66c url('../kvas_files/dropdown-icon.png') no-repeat 940px 15px;
}

.numbers {
    display: flex;
    justify-content: space-between;
}

.numbers input {
    width: 330px;
    margin-left: 68px;
}

.numbers label {
    align-items: center;
}

.order-form-group,
.feedback-form-group {
    margin-top: 10px;
}

.order-form label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.feedback-form-group.first {
    margin-top: 80px;
}

.order-form input::placeholder,
.order-form textarea::placeholder,
.order-form select {
    text-transform: uppercase;
    font-weight: bold;
    color: #9b7b42;
}

.order-form textarea {
    height: 120px;
    padding-top: 10px;
    resize: none;
}

.checkbox-area {
    width: auto;
    height: 40px;
    margin-top: 40px;
    margin-left: 225px;
}

.checkbox-area label {
    justify-content: flex-start;
    align-items: center;  
}

.checkbox-area input {
    width: 40px;
    margin: 0;
    margin-right: 50px;

    background-color: #e6b66c;
}

.feedback-form-button input {
    width: auto;
    height: 54px;
    margin-left: 225px;
    margin-top: 40px;

    font-weight: bold;
    padding: 15px 22px;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    background-color: #834700;
    border: none;
}

/* footer */

.page-footer {
    background-color: black;
    color: white;
}

.footer-top {
    padding-top: 100px;
}

.page-footer .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page-footer .main-nav ul {
    list-style: none;
    
    margin-right: 350px;
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    align-items: center;
}

.page-footer .main-nav ul li {
    margin-right: 80px;
}

.page-footer .main-nav ul a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
}

.page-footer .footer-logo {
    margin-left: 300px;
    margin-right: 50px;
}

.footer-bottom {
    margin: 50px 250px auto 250px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-nets {
    display: flex;
}

.footer-bottom .ig,
.footer-bottom .vk,
.developer-img {
    width:80px;
    height:50px;
    padding-top: 25px;

    text-align: center;
    background-color: #1b1b1b;
}

.developer-img {
    margin-right: 30px;
}

.footer-bottom .fb {
    width:80px;
    height:50px;
    padding-top: 25px;
    
    text-align: center;
    background-color: #222222; 
}

.footer-bottom .ig a:after {
    content: url('../kvas_files/icon-insta.png');
}

.footer-bottom .fb a:after {
    content: url('../kvas_files/icon-fb.png');
}

.footer-bottom .vk a:after {
    content: url('../kvas_files/icon-vk.png');
}

.page-footer p {
    width: 250px;
    margin-right: 200px;
    margin-left: 100px;
    
    color: #989898
}

.developer {
    display: flex;
    justify-content: space-between;
}

.developer-description a {
    text-decoration: none;
    color: #989898
}

.developer-description  {
    color: #989898
}